<?xml version="1.0"?>
<opnsense>
  <ipsec>
    <enable>1</enable>
    <client>
      <user_source>Local Database</user_source>
      <pool_address>10.18.0.0</pool_address>
      <pool_netbits>24</pool_netbits>
      <enable>1</enable>
    </client>
    <auto_routes_disable>1</auto_routes_disable>
    <phase1>
      <ikeid>1</ikeid>
      <iketype>ikev1</iketype>
      <interface>any</interface>
      <mode>aggressive</mode>
      <protocol>inet</protocol>
      <myid_type>address</myid_type>
      <myid_data>192.168.2.3</myid_data>
      <encryption-algorithm>
        <name>aes</name>
        <keylen>256</keylen>
      </encryption-algorithm>
      <lifetime>28800</lifetime>
      <pre-shared-key>opnsense</pre-shared-key>
      <authentication_method>xauth_psk_server</authentication_method>
      <nat_traversal>on</nat_traversal>
      <dhgroup>2</dhgroup>
      <hash-algorithm>sha1,sha256</hash-algorithm>
      <private-key/>
      <mobile>1</mobile>
    </phase1>
    <phase2>
      <ikeid>1</ikeid>
      <uniqid>633c4827ed7fa</uniqid>
      <mode>tunnel</mode>
      <lifetime>3600</lifetime>
      <protocol>esp</protocol>
      <localid>
        <type>network</type>
        <address>0.0.0.0</address>
        <netbits>0</netbits>
      </localid>
      <remoteid>
        <type>mobile</type>
      </remoteid>
      <encryption-algorithm-option>
        <name>aes256</name>
      </encryption-algorithm-option>
      <hash-algorithm-option>hmac_sha1</hash-algorithm-option>
      <hash-algorithm-option>hmac_sha256</hash-algorithm-option>
      <reqid>1</reqid>
    </phase2>
  </ipsec>
</opnsense>
